h1 {
	padding-bottom: 16px;
}

h1, h2, h3, h4, h5, h6 {
	display: inline-block;
	margin-block-start: 0;
	margin-block-end: 0;
}

span > i.popup {
	display: none;
}

span:hover > i.popup {
	position: relative;
	top: 20px;
	right: 50px;
	display: inline-block;
	background-color: grey;
	border-radius: 5px;
	border-color: black;
}

