<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Referência</title>
    <link rel="stylsheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="template.css">
</head>

<body>
    <nav>
        <button id="close-menu">menu</button>
    </nav>
    <main>
        <header>
            <button id="open-menu">menu</button>
            <img src="imagens/piaCheia.png" alt="Logo">
            <p>piaCheia</p>
        </header>
        <section>
            <article>
                <h1>Introdução à Javascript</h1>
                <h2>subtíulo</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eius culpa voluptate in,
                    praesentium ad quibusdam itaque vitae similique, excepturi beatae. Amet doloremque temporibus
                    aperiam, nam sequi magnam voluptates pariatur. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Assumenda sed quibusdam facere harum quis eveniet consequatur sit temporibus, velit fugiat
                    nostrum soluta animi quo perferendis. Magnam numquam praesentium ducimus quasi.</p>
                <h2>subtítulo</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eius culpa voluptate in,
                    praesentium ad quibusdam itaque vitae similique, excepturi beatae. Amet doloremque temporibus
                    aperiam, nam sequi magnam voluptates pariatur. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Assumenda sed quibusdam facere harum quis eveniet consequatur
            </article>
            <aside>
                <h2>Conteúdos adicionais</h2>
                <div>
                    <iframe src="https://www.youtube.com/embed/videoseries?list=PLHz_AreHm4dlsK3Nr9GVvXCbpQyHQl1o1"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/zYierUhIFNQ" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </aside>
            <footer>
                <p>FOOTER</p>
            </footer>
        </section>
    </main>
    <script>
        const openMenu = document.querySelector('#open-menu')
        const closeMenu = document.querySelector('#close-menu')
        const navbar = document.querySelector('nav')
        const section = document.querySelector('section')

        openMenu.addEventListener('click', () => {
            navbar.classList.add('slide')
            section.style.overflowY = 'hidden'
        })

        closeMenu.addEventListener('click', () => {
            navbar.classList.remove('slide')
            section.style.overflowY = 'auto'
        })
    </script>
</body>

</html>
