h1 {
	padding-bottom: 16px;
}

h1, h2, h3, h4, h5, h6 {
	display: inline-block;
	margin-block-start: 0;
	margin-block-end: 0;
}

.popup {
	position: relative;
}

.popup::after {
	content: attr(explanation);
	position: absolute;
	top: -100%;
	left: -20px;
	background: #212121;
	color: white;
	text-align: center;
	font-size: 0.7em;
	width: 90px;
	padding: 1px;
	border-radius: 3px;
	opacity: 0;
	transition: 0.2s;
}

.popup:hover::after{
	opacity: 1;
}

.popup:hover {
	color: #494949;
}

