* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    background-color:black;
}

#parte-superior {
    padding-left: 40px;
    padding-right: 40px;
    margin: 20px;
    height: 100px;
    background-color: #472C20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 3px 2px 7px #472C20;
}
p{
    font-size: 25px;
    color: white;
    text-shadow: rgba(255, 255, 255, 0.016) 0.5px 0.5px 3px;
    font-weight: bold;
}
a{
    font-size: 25px;
    color: white;
    text-decoration: none;
}
h1{
    font-size: 50px;
    color:#F1E9E1;
    margin: 70px;
}

#parte-inferior{
    margin:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 350px;
    margin-right: 50px;
    margin-bottom: 30px;
}



.menu {
    list-style: none;
    float: left;
}

.menu > li {
    position: relative;
    float: left;
}

.menu > li a {
    color: #F1E9E1;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    display: block;
}

.menu > li > a:hover {
    background-color: #391f1657;
    color: white;
    border-radius: 15px;
}

.menu > li > ul {
    position: absolute;
    top: 30px;
    width: 150px;
    background-color: rgb(50, 32, 19);
    display: none;
}

.menu > li:hover > ul,
.menu > li.over > ul {
    display: block;
    background-color: rgb(23, 23, 23);
}
.menu > li> ul > li:hover {
    background-color: rgb(41, 39, 38);
}

.menu > li > ul > li {
    border: 1px solid black;
    display: block;
}
.menu > li > ul a {
    font-size: 16px;
}
